/* custom font  */
@font-face {
    font-family: ve ;
    src: url(../fonts/Verdana.ttf);
}

/* making overall pagee to have a smooth effect whenevrr it is scrolled  */
html{
    scroll-behavior: smooth ;
}
body {
    margin: 0;
    padding: 0;
}
/* using flexbox to make the header look arranged  */
header{
    display: flex;
    width: auto;
    height: 6em;    
}
/* using flexgrow to increase the gap b/w logo and list items  */
header div {
    flex-grow: 1;
}
header div img{
    height:70%;
    width:auto;
    padding: 1%;
}
header nav {
    padding-top: 2%;
}
header nav ul{
    display:flex;
    list-style: none;  
}
header nav ul li{
    padding-right:0.9em;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    position: relative;
}
header nav ul li a{
    color: #ffa43b;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s, font-size 0.3s; /* Add transition for color and font-size changes */
    font-family: 'Merriweather',sans-serif;
}

nav a:hover {
    color: #ffd700;
    font-size: 1.5em; /* Increase font size on hover */
    
}
/* Dropdown menu styling */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Position the dropdown below the link */
    left: 0;
    z-index: 1; /* Ensure the dropdown appears above other elements */
    background-color: #ffffff; /* Match the header background color */
    border: 3px groove rgb(255, 132, 45); /* Border style and color */
    
}

.dropdown-menu li {
    color: #ffa43b; /* Text color for dropdown links */
    text-decoration: none;
    padding: 1%;
    display: block; /* Make each link a block element */
    font-size: 0.7em;
    font-family: 'Playfair Display',sans-serif;

}

/* Show the dropdown menu when the parent list item is hovered */
.dropdown:hover .dropdown-menu {
    display: block;
}
.a1{
    color:#ff8832;
    font-family: 'Playfair Display',sans-serif;
    font-size:4em;
    text-align: center;
    background: url("../img/bbb.JPG"),rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    height: 60vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0%;
    margin: 0%;
}
.a2{
    background-color: #ff8832;
    font-family: 'Raleway', Times;
    color:#ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
    padding: 0%;
    margin:0;
    text-align: center;
    font-size:2em;
}
.a3{
    color:#ffffff;
    font-family: 'Raleway', Times;
    padding: 0%;
    margin:0;
    text-align: center;
    font-size:2em;
}
.b1{
    font-family: 'Raleway', Times;
    padding: 1%;
    font-size:1em;
}
.s1{
    display:flex;
    background-color: #ffa43b;
}
.img1 {
    height: 40vh;
    width: auto;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 1s ease-in-out;
}

.img1:hover {
    transform: rotateY(180deg);
}

.customer-reviews h1 {
    color: #ffa43b;
    text-align: center;
}
.review-boxes{
    display:flex;
    
}

.customer-reviews {
    width: 100%;
    display: flex;
    justify-content: space-around; /* Adjust as needed for your preferred spacing */
    flex-wrap: wrap; /* Allow items to wrap to the next line if the width is insufficient */
}

.review {
    margin: 10px; /* Adjust the margin as needed for spacing between reviews */
    border: 1px solid #ddd;
    padding: 1.2em;
    width:20%;
    transition: box-shadow 0.3s ease-in-out;
}

.review:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.review p {
    margin: 0;
}

.review .author {
    font-weight: bold;
    color: #333;
    font-family: 'Merriweather', Times;
}

.review .date {
    color: #777;
    font-size: 0.7em;
    font-family: 'Raleway', Times;
}
.content{
    font-size: .9em;
    font-family: 'Raleway', Times;

}

footer {
    background-color:#cc5500;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin-bottom: 20px;
}
.footer-section > p{
    font-family: 'Merriweather', Times;
    font-size: 1em;
}
h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 've',sans-serif;
}

ul {
    list-style: none;
    padding: 1%;
    margin: 0;
    
}
body > footer > div > div:nth-child(1) > ul > li > a{
    text-decoration: none;
    color: #fff;
    font-family: 'Merriweather', Times;
    font-size: 1em;
}

ul li {
    margin-bottom: 5px;
}

form input {
    padding: 8px;
    margin-right: 5px;
}

form button {
    padding: 8px 15px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
    font-family: 'Merriweather', Times;
    font-size: 1em;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5em;
    
}
.social-icons li a{
    text-decoration: none;
    color: #fff;
    
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.btnbtn{
    border: solid 3px #a54603;
    padding: 10px 30px;
    border-radius: 15px;
    color:#cc5500;
    background-color: #fca05f;
    cursor: pointer;
    font-weight: 600;
    transition: all .25s linear;
    font-family: 've',sans-serif;
    font-size: 1em;
  }
  
.btnbtn:hover{
    background-color: #fff;
    color: #cc5500;
  }  
  